/* App.css */
.container {
  max-width: 100%; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the container horizontally */
  padding: 0 0; /* Add some padding to the sides */
}

.App-header {
  width: 100%; /* Ensure the header takes full width */
}

.navbar {
  background-color: rgb(44, 38, 38); /* Change the background color to gray */
  width: 100%; /* Make the navbar expand horizontally to full width */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0; /* Adjust vertical padding */
  height: 60px;
}

.site-name {
  color: rgb(238, 230, 230);
  font-weight: bold;
  font-size: 2rem;
  margin-left: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin-right: 20px;
  margin-left: 20px;
}

.nav-links li:last-child {
  margin-right: 50px;
}

.nav-links a {
  color: rgb(243, 238, 238);
  text-decoration: none;
  font-size: 1.6rem;
}

.nav-links a:hover, .nav-links a:active{
  text-decoration: underline;
}
